<div class="row justify-content-center">
    <div class="col-lg-4 mx-auto" >
        <form id="forsearch" class="form-group">
            <div id="zoneSearch" class="input-group mb-2 mr-sm-2 mb-sm-0 ">
                <div class="input-group-addon">
                    <i class="material-icons">search</i>
                </div>
                <input type="text" class="form-control" id="termsearch" placeholder="Recherche...">
            </div>
        </form>
        <div id="result" class="rd-flex justify-content-center">
            <ul class="list-group" id="listResult"></ul>
        </div>
    </div>
</div>


