{# On utilise ici le layout général, qui se situe dans ce même CoreBundle maintenant #}

{% extends "::base.html.twig" %}

{% block title %}
  Page Connexion -
  {{ parent() }}
{% endblock %}

{% block bodyId %}
<body id="connection">
{% endblock %}

{% block body %}
  <p>
    ICI PAGE NOTRE PAGE CONNEXION
  </p>

{% endblock %}